// Built-in Dependencies
@use 'sass:map'
@use 'sass:list'
@use 'sass:meta'
@use 'sass:string'

// Internal dependencies
@use '../map/fonts' as fonts
@use '../func/typography' as func-typo

@mixin text-wrap-safe($inline: 0)
  p, h1, h2, h3, h4, h5, h6, figcaption, a, li
    hyphens: auto
    word-wrap: anywhere
    white-space: pre-wrap
    overflow-wrap: anywhere
    min-inline-size: $inline

@mixin font( $font:null, $size: null, $family: null, $style: null, $weight: null, $line-height: null, $variant: null, $quiet: false)
  $detected-family: func-typo.font-family-of($font)

  @if func-typo.is-known-font($font)
    $family: $detected-family

    @if map.has-key(fonts.$fonts, $font)
      $font: null
  
  @else if $family == null
    $family: $detected-family

    @if $font != null and $quiet == false
      @warn "Font '#{$font}' not found in configuration map. Defaulting to stack: '#{$font}', #{$family}."

  @if meta.type-of($font) == 'list'
    $last: list.nth($font, list.length($font))

    @if $last == $family
      $family: null
  
  @if $font == $family
    $family: null

  @if $font != null
    font-family: $font, $family

  @else
    font-family: $family

  @if $size != null
    font-size: $size

  @if $weight != null
    font-weight: $weight

  @if $style != null
    font-style: $style
  
  @if $line-height != null
    line-height: $line-height

  @if $variant != null
    font-variant: $variant

@mixin sans-serif($font: null, $size: 1rem, $weight: null, $style: null)
  @if $font == null
    $font: func-typo.get-default-stack('sans-serif')
  @include font($font, $size, sans-serif, $style, $weight)

@mixin serif($font: null, $size: 1rem, $weight: null, $style: null)
  @if $font == null
    $font: func-typo.get-default-stack('serif')
  @include font($font, $size, serif, $style, $weight)

@mixin monospace($font: null, $size: 1rem, $weight: null, $style: null)
  @if $font == null
    $font: func-typo.get-default-stack('mono')
  @include font($font, $size, monospace, $style, $weight)

@mixin line-clamp($lines: 3)
  display: -webkit-box
  -webkit-line-clamp: $lines
  -webkit-box-orient: vertical
  overflow: hidden

@mixin text-adjustments($alignment: null, $decoration: null, $quiet: false)
  @if $alignment != null
    text-align: $alignment

  @if $decoration != null
    text-decoration: $decoration

  @if $alignment == null and $decoration == null
    text-decoration: none
    @if $quiet == false
      @warn "No parameters provided for text-adjustments mixin. Default value present."
